@keyframes lelftoright{
    0%{
        transform: translateX(-50%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes righttoleft{
    0%{
        transform: translateX(50%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes bottomtotop{
    0%{
        transform: translateY(50%);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes showin{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes showout{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@mixin animationlr {
    animation-name: lelftoright;
    animation-duration: 1s;
}
@mixin animationrl {
    animation-name: righttoleft;
    animation-duration: 1s;
}
@mixin animationbt {
    animation-name: rotateY;
    animation-duration: 1s;
}
@mixin showin {
    animation-name: showin;
    animation-duration: 1s;
}

@keyframes rotateX{
    0% {
        transform: rotate(-90deg);
      }
    
      100% {
        transform: rotate(0deg);
      }
}

@keyframes rotateY{
    0% {
        transform: rotateY(-90deg);
      }
    
      100% {
        transform: rotateY(0deg);
      }
}


.show--left{
    transform: translateX(-50%);
    transition: 1s ease-in-out;
}
.show--left.is--show{
    transform: translateX(0);
    transform: translateY(0);
}