.home{
    width: $max__width;
    padding-top: 16rem;
    padding-bottom: 7.5rem;
    display: flex;
    flex-direction: column;
    .home__title{
        @include animationlr();
        animation-duration: 1.5s;
        margin: 0 47rem;
        font-size: 5rem;
        line-height: 1;
        font-weight: bold;
        align-items: center;
        span{
            display: block;
            text-align: center;
        }
        span:first-child{
            background: $linear__color;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        span:nth-child(2){
            color: $text__default__dark;
        }
        span:last-child{
            color: $text__primaty__dark;
        }
    }
    .home__des{
        @include animationlr();
            animation-duration: 2s;
            width: 30%;
        margin: 4rem auto 0;
        color: $text__default__dark;
        font-size: 2.8rem;
        font-weight: 300;
        line-height: 1.5;
        text-align: center;
    }
    .home__btn{
        @include animationlr();
        animation-duration: 2s;
        width: 15%;
        margin: 4rem auto;
        color: $text__default__dark;
        font-size: 1.5rem;
        text-align: center;
        text-transform: uppercase;
        border-radius: 3rem;
        border: .1rem solid $text__default__dark;
        padding: 1.1rem 1.7rem;
        background-color: rgba(0,0,0,0.8);
        cursor: pointer;
    }
    .home__bar{
        @include animationlr();
        animation-duration: 2s;
        width: 30%;
        margin: 9.5rem auto 0rem;
        display: flex;
        justify-content: space-between;
        .homne__bar--item{
            height: 6rem;
        }
        .homne__bar--item:hover{
            cursor: pointer;
            transform: scale(1.1);
        }
    }
}
