@import "service";
@import "shop";
@import "product";
@import "location";
.main{
    width: 144rem;
    position: relative;
    height: 90rem;
    padding-top: 10rem;
    display: none;
    .main_bottom{
        width: 100%;
        position: absolute;
        bottom: 0;    
        @include showin();
    }
}