.nav{
    width: 60%;
    display: flex;
    margin: 0 auto;
    padding-top: 3rem;
    color: var(--text__dark);
    .nav__logo{
        height: 4rem;
        img{
            width: 4rem;
        }
    }

    .nav__menu{
        list-style: none;
        justify-content: space-between;
        flex-grow: 8;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.5;
        display: flex;
        @include showin();
        .nav__item{
            line-height: 2;
            a{
                width: 100%;
                padding:1rem 2.5rem;
            }
            &.nav__item--cart {
                color:  rgba(0, 0, 0, 1);
                background: #B7EAAF;
                border-radius: 10px;
            }
        }
        .nav__item:hover{
            color:  rgba(0, 0, 0, 1);
            background: #B7EAAF;
            border-radius: 10px;
            transition: .5s ease-in-out;
        }
    }
    .nav__menu--mobile{
        padding: 2.4rem 1.6rem;
        display: none;
        justify-content: space-between;

    }

}
