/* Mixin */
/* Set các giá trị với màn hình tương ứng */


/* > PC low resolution */
@media (max-width: 1366px){
   .app{
       width: 120rem
   }
   .home{
       width: 120rem

   }
   .main{
    width: 120rem;

    .main_bottom{
        img{
            width: 120rem;
        }
    }
   }
   .home{
       width: 120rem

   }
   .home{
       width: 120rem

   }
   .home{
       width: 120rem

   }
};
    
    
@media (max-width:739px) {
    
    
};
