.service{
    display: none;
    position: relative;
    height: 90rem;
    padding-top: 10rem;
    .service__card{
        position: absolute;
        z-index: 99;
        width: 90rem;
        height: 60rem;
        margin: 0 27rem 0;
        background-image: url(/asset/service__card.png);
        border-radius: 2%;
        .service__content{
            height: 100%;
            border-radius: 2%;
            background-image: linear-gradient(to bottom right, #213F36 , rgba(33, 63, 54, 0.2));;
            padding-top: 4rem;
            padding-left: 4rem;
            .service__content--title{
                font-size: 4rem;
                line-height: 1;
                color: $text__primaty__dark;
                span{
                    background: $linear__color;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                    display: block;
                }
            }
            .service__content--derc{
                margin-top: 4rem;
                font-size: 2rem;
                font-weight: 300;
                width: 50%;
                line-height: 1;
                color: $text__default__dark;
            }
            .service__content--btn{
                margin-top: 2.4rem;
                background-image: linear-gradient(to right,rgba(127, 202, 33, 0.8),rgba(16, 82, 0, 1));
            }
        }
    }
    .service_bottom{
        position: absolute;
        bottom: 0;
    }
}