
$bg__dark:#213F36;
$bg__light:#E7E8E6;
$text__primaty__dark:#D2FFCB;
$text__primaty__light:#355342;
$text__default__dark:#ffffff;
$text__default__light:#000000;
$btn__primary__dark:#B7EAAF;
$btn__primary__light:#375739;
$btn__second__dark:#F87C68;
$btn__second__light:#ED2C27;
$linear__color:linear-gradient(to right, #F0FFEE , #FFFFFF);

$max__width:144rem;
