
$bg__dark:#213F36;
$bg__light:#E7E8E6;
$text__primaty__dark:#D2FFCB;
$text__primaty__light:#355342;
$text__default__dark:rgba(255, 255, 255, 0.8);
$text__default__light:rgba(0,0,0,0.8);
$btn__primary__dark:#B7EAAF;
$btn__primary__light:#375739;
$linear__color:linear-gradient(to right, #F0FFEE , #FFFFFF);

$max__width:144rem;

:root{
    --bg__color:#{$bg__light};
    --text__color:#{$text__primaty__dark };
    --btn__color:#{$btn__primary__light };
    --text__dark:#{$text__default__dark};
    --text__light:#{$text__default__light};
    --text__primary:#{$text__primaty__light};
}

.dark{
    --bg__color:#{$bg__dark};
    --text__color:#{$text__primaty__light };
    --btn__color:#{$btn__primary__light };
    --text__dark:#{$text__default__light};
    --text__light:#{$text__default__dark};
    --text__primary:#{$text__primaty__dark};
}