@import "animation";
@import "variables";
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    scroll-behavior: smooth;
    position: relative;
    
}
body{
    background-color: rgba(229, 229, 229, 1);
}
.app{
    width: $max__width;
    margin: 0 auto;
    @include showin();
    animation-duration: 1s;
    
}
.bg__img{
    background-position: top center;
    background-repeat: no-repeat;
    @include showin();
    animation-duration: 2s;
}
a{
    text-decoration: none;
    color: unset;
}
@mixin btn--primary {
    color: $text__default__dark;
    background-color: $btn__primary__light;
    width: 26rem;
    height: 6rem;
    border-radius: 4rem;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    font-size: 2.4rem;
    line-height: 2.5;
}
@mixin main__title {
    font-size: 4rem;
    line-height: 1;
    color: $text__primaty__dark;
    span{
        background: $linear__color;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: block;
    }
}
.btn__primary{
    @include btn--primary();
}

.btn__main{
    @include btn--primary();
    background-image: linear-gradient(to right,rgba(127, 202, 33, 0.8),rgba(16, 82, 0, 1));
}
.btn__primary:hover{
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
}