@-webkit-keyframes lelftoright {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes lelftoright {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes righttoleft {
  0% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes righttoleft {
  0% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes bottomtotop {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bottomtotop {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes showin {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showin {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes showout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes showout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes rotateX {
  0% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotateX {
  0% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes rotateY {
  0% {
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

@keyframes rotateY {
  0% {
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  scroll-behavior: smooth;
  position: relative;
}

body {
  background-color: #e5e5e5;
}

.app {
  width: 144rem;
  margin: 0 auto;
  -webkit-animation-name: showin;
          animation-name: showin;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  animation-duration: 1s;
}

.bg__img {
  background-position: top center;
  background-repeat: no-repeat;
  -webkit-animation-name: showin;
          animation-name: showin;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

a {
  text-decoration: none;
  color: unset;
}

.btn__primary {
  color: #ffffff;
  background-color: #375739;
  width: 26rem;
  height: 6rem;
  border-radius: 4rem;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  text-align: center;
  font-size: 2.4rem;
  line-height: 2.5;
}

.btn__main {
  color: #ffffff;
  background-color: #375739;
  width: 26rem;
  height: 6rem;
  border-radius: 4rem;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  text-align: center;
  font-size: 2.4rem;
  line-height: 2.5;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(127, 202, 33, 0.8)), to(#105200));
  background-image: linear-gradient(to right, rgba(127, 202, 33, 0.8), #105200);
}

.btn__primary:hover {
  -webkit-box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
}
/*# sourceMappingURL=base.css.map */