@charset "UTF-8";
:root {
  --bg__color:#E7E8E6;
  --text__color:#D2FFCB;
  --btn__color:#375739;
  --text__dark:rgba(255, 255, 255, 0.8);
  --text__light:rgba(0, 0, 0, 0.8);
  --text__primary:#355342;
}

.dark {
  --bg__color:#213F36;
  --text__color:#355342;
  --btn__color:#375739;
  --text__dark:rgba(0, 0, 0, 0.8);
  --text__light:rgba(255, 255, 255, 0.8);
  --text__primary:#D2FFCB;
}

@-webkit-keyframes lelftoright {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes lelftoright {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes righttoleft {
  0% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes righttoleft {
  0% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes bottomtotop {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bottomtotop {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes showin {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showin {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes showout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes showout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes rotateX {
  0% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotateX {
  0% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes rotateY {
  0% {
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

@keyframes rotateY {
  0% {
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

.show--left {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.show--left.is--show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

:root {
  --bg__color:#E7E8E6;
  --text__color:#D2FFCB;
  --btn__color:#375739;
  --text__dark:rgba(255, 255, 255, 0.8);
  --text__light:rgba(0, 0, 0, 0.8);
  --text__primary:#355342;
}

.dark {
  --bg__color:#213F36;
  --text__color:#355342;
  --btn__color:#375739;
  --text__dark:rgba(0, 0, 0, 0.8);
  --text__light:rgba(255, 255, 255, 0.8);
  --text__primary:#D2FFCB;
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  scroll-behavior: smooth;
  position: relative;
}

body {
  background-color: var(--bg__color);
}

.app {
  width: 144rem;
  margin: 0 auto;
  -webkit-animation-name: showin;
          animation-name: showin;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  animation-duration: 1s;
}

.bg__img {
  background-position: top center;
  background-repeat: no-repeat;
  -webkit-animation-name: showin;
          animation-name: showin;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

a {
  text-decoration: none;
  color: unset;
}

.btn__primary {
  color: var(--text__dark);
  background-color: var(--btn__color);
  width: 26rem;
  height: 6rem;
  border-radius: 4rem;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  text-align: center;
  font-size: 2.4rem;
  line-height: 2.5;
  cursor: pointer;
}

.btn__main {
  color: var(--text__dark);
  background-color: var(--btn__color);
  width: 26rem;
  height: 6rem;
  border-radius: 4rem;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  text-align: center;
  font-size: 2.4rem;
  line-height: 2.5;
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(127, 202, 33, 0.8)), to(#105200));
  background-image: linear-gradient(to right, rgba(127, 202, 33, 0.8), #105200);
}

.btn__primary:hover {
  -webkit-box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
}

.nav {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding-top: 3rem;
  color: var(--text__dark);
}

.nav .nav__logo {
  height: 4rem;
}

.nav .nav__logo img {
  width: 4rem;
}

.nav .nav__menu {
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 8;
      -ms-flex-positive: 8;
          flex-grow: 8;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation-name: showin;
          animation-name: showin;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.nav .nav__menu .nav__item {
  line-height: 2;
}

.nav .nav__menu .nav__item a {
  width: 100%;
  padding: 1rem 2.5rem;
}

.nav .nav__menu .nav__item.nav__item--cart {
  color: black;
  background: #B7EAAF;
  border-radius: 10px;
}

.nav .nav__menu .nav__item:hover {
  color: black;
  background: #B7EAAF;
  border-radius: 10px;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.nav .nav__menu--mobile {
  padding: 2.4rem 1.6rem;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home {
  width: 144rem;
  margin-bottom: 15rem;
  padding-top: 16rem;
  padding-bottom: 11.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home .home__title {
  margin: 0 47rem;
  font-size: 5rem;
  line-height: 1;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .home__title span {
  display: block;
  text-align: center;
}

.home .home__title span:first-child {
  background: -webkit-gradient(linear, left top, right top, from(#F0FFEE), to(#FFFFFF));
  background: linear-gradient(to right, #F0FFEE, #FFFFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home .home__title span:nth-child(2) {
  color: var(--text__dark);
}

.home .home__title span:last-child {
  color: var(--text__color);
}

.home .home__des {
  width: 30%;
  margin: 4rem auto 0;
  color: var(--text__dark);
  font-size: 2.8rem;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
}

.home .home__btn {
  width: 15%;
  margin: 4rem auto;
  color: var(--text__dark);
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  border-radius: 3rem;
  border: 0.1rem solid var(--text__dark);
  padding: 1.1rem 1.7rem;
  background-color: var(--text__light);
  cursor: pointer;
}

.home .home__btn:hover {
  border: 0.1rem solid var(--text__dark);
  background-color: var(--text__dark);
  color: var(--text__light);
}

.home .home__bar {
  width: 30%;
  margin: 9.5rem auto 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home .home__bar .homne__bar--item {
  height: 6rem;
}

.home .home__bar .homne__bar--item:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.service__card {
  -webkit-animation-name: showin;
          animation-name: showin;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  display: block;
  position: absolute;
  z-index: 99;
  width: 62.5%;
  height: 66.6%;
  margin: 0 27rem 0;
  background-image: url(/asset/service__card.png);
  border-radius: 2%;
}

.service__card .service__content {
  -webkit-animation-name: showin;
          animation-name: showin;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  height: 100%;
  border-radius: 2%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#213F36), to(rgba(33, 63, 54, 0.2)));
  background-image: linear-gradient(to bottom right, #213F36, rgba(33, 63, 54, 0.2));
  padding-top: 4rem;
  padding-left: 4rem;
}

.service__card .service__content .service__content--title {
  -webkit-animation-name: lelftoright;
          animation-name: lelftoright;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  font-size: 4rem;
  line-height: 1;
  color: var(--text__color);
}

.service__card .service__content .service__content--title span {
  background: -webkit-gradient(linear, left top, right top, from(#F0FFEE), to(#FFFFFF));
  background: linear-gradient(to right, #F0FFEE, #FFFFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
}

.service__card .service__content .service__content--derc {
  -webkit-animation-name: lelftoright;
          animation-name: lelftoright;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  margin-top: 4rem;
  font-size: 2rem;
  font-weight: 300;
  width: 50%;
  line-height: 1.3;
  color: var(--text__dark);
}

.service__card .service__content .service__content--btn {
  -webkit-animation-name: lelftoright;
          animation-name: lelftoright;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  margin-top: 2.4rem;
}

.shop {
  position: absolute;
  z-index: 99;
  width: 144rem;
  display: none;
}

.shop .shop__left {
  -webkit-animation-name: lelftoright;
          animation-name: lelftoright;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  width: 50%;
  margin-top: 6rem;
  margin-left: 16rem;
}

.shop .shop__left .shop__title {
  -webkit-animation-name: lelftoright;
          animation-name: lelftoright;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  font-size: 4rem;
  line-height: 1;
  color: var(--text__color);
}

.shop .shop__left .shop__title span {
  background: -webkit-gradient(linear, left top, right top, from(#F0FFEE), to(#FFFFFF));
  background: linear-gradient(to right, #F0FFEE, #FFFFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
}

.shop .shop__left .shop__title--time {
  -webkit-animation-name: lelftoright;
          animation-name: lelftoright;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  color: var(--text__color);
  font-size: 1.6rem;
  font-weight: 300;
  margin-top: 4rem;
}

.shop .shop__left .shop__derc {
  -webkit-animation-name: lelftoright;
          animation-name: lelftoright;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  margin-top: .4rem;
  font-size: 2rem;
  font-weight: 300;
  width: 60%;
  line-height: 1.3;
  color: var(--text__dark);
}

.shop .shop__left .shop__btn {
  -webkit-animation-name: lelftoright;
          animation-name: lelftoright;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-duration: 2.1s;
          animation-duration: 2.1s;
  margin-top: 2.4rem;
}

.shop .shop__left .shop__person {
  -webkit-animation-name: lelftoright;
          animation-name: lelftoright;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-duration: 2.2s;
          animation-duration: 2.2s;
  margin-top: 2.4rem;
}

.shop .shop__left .shop__person p {
  color: var(--text__dark);
  font-size: 1.4rem;
  padding-bottom: .8rem;
}

.shop .shop__left .shop__person a {
  width: 8rem;
  height: 8rem;
}

.shop .shop__left .shop__person a img {
  width: 8rem;
}

.shop .shop__right {
  -webkit-animation-name: showin;
          animation-name: showin;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-duration: 2.2s;
          animation-duration: 2.2s;
  width: 60%;
  padding-top: 30rem;
}

.shop .shop__right .shop__bar {
  height: 225px;
  overflow: hidden;
}

.shop .shop__right .shop__bar .shop__bar--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.shop .shop__right .shop__bar .shop__bar--list .shop__bar--item {
  -webkit-animation-name: showin;
          animation-name: showin;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  display: none;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  background-image: url(asset/Background02.png);
  background-size: 100% 100%;
  margin: 0 2rem;
  width: 30rem;
  position: relative;
  height: 22.5rem;
  border-radius: 13%;
}

.shop .shop__right .shop__bar .shop__bar--list .shop__bar--item .content__item--title {
  font-size: 2rem;
  position: absolute;
  top: 0;
  color: var(--text__dark);
  padding: 2.4rem 0 0 2.4rem;
}

.shop .shop__right .shop__bar .shop__bar--list .shop__bar--item .content__item__count {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0 2.4rem 2.4rem;
}

.shop .shop__right .shop__bar .shop__bar--list .shop__bar--item .content__item__count div {
  color: var(--text__dark);
  font-size: 1.5rem;
  font-weight: bold;
}

.shop .shop__right .shop__bar .shop__bar--list .shop__bar--item .content__item__count img {
  height: 3rem;
  width: 3rem;
}

.shop .shop__right .shop__bar .shop__bar--list .shop__bar--item:hover {
  border-radius: 13%;
  -webkit-box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.product {
  display: none;
  width: 144rem;
  height: 70rem;
  position: absolute;
  z-index: 1;
}

.product div {
  width: 50%;
}

.product div .product__list {
  -webkit-animation-name: rotateY;
          animation-name: rotateY;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  height: 473px;
  margin-top: 20rem;
  position: relative;
  width: 80%;
  border-radius: 2rem;
  background-color: rgba(148, 148, 148, 0.8);
  border: 1px solid rgba(148, 148, 148, 0.8);
  -webkit-box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
  margin-left: 2rem;
}

.product div .product__list .product__list--title {
  padding-top: 4rem;
  padding-left: 4rem;
  color: var(--text__dark);
  font-size: 3rem;
  line-height: 1;
  background-color: rgba(33, 63, 54, 0.8);
  border-radius: 2rem 2rem 0 0;
}

.product div .product__list .product__list--count {
  padding: .8rem 0 .8rem 4rem;
  color: var(--text__color);
  font-size: 2rem;
  font-weight: 300;
  line-height: 1;
  background-color: rgba(33, 63, 54, 0.8);
}

.product div .product__list .product__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(33, 63, 54, 0.8);
  width: 100%;
}

.product div .product__list .product__item .product__item--img {
  height: 4rem;
  width: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product div .product__list .product__item .product__item--name {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product div .product__list .product__item .product__item--name p {
  font-weight: 400;
  font-size: 1.4rem;
  color: var(--text__dark);
  line-height: 2.8;
}

.product div .product__list .product__item .product__item--name:hover img {
  cursor: pointer;
}

.product div .product__list .product__item:last-child {
  border-radius: 0 0 2rem 2rem;
}

.product div .product__list .product__item:last-child .product__item--name {
  border-bottom: none;
}

.product div .product__list::after {
  position: absolute;
  content: "";
  -webkit-animation-name: showin;
          animation-name: showin;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  left: 4rem;
  bottom: -6.4rem;
  border-style: solid;
  border-color: rgba(33, 63, 54, 0.8) transparent transparent transparent;
  border-width: 3.2rem 3.2rem;
}

.product div .product__list::before {
  -webkit-animation-name: showin;
          animation-name: showin;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  position: absolute;
  content: "";
  left: 4rem;
  bottom: -6.5rem;
  border-style: solid;
  border-color: rgba(148, 148, 148, 0.8) transparent transparent transparent;
  border-width: 3.2rem 3.2rem;
}

.product div .product__btn {
  left: -0.3rem;
  position: absolute;
  bottom: -5.4rem;
  margin-top: 3rem;
  margin-left: 7rem;
}

.product div .product__btn a {
  background-color: #375739;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product .product__content {
  position: relative;
  margin: 16rem 47rem 0 3rem;
  margin-left: 3rem;
  text-align: center;
}

.product .product__content .product__content--title {
  -webkit-animation-name: righttoleft;
          animation-name: righttoleft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  width: 100%;
  font-size: 4rem;
  line-height: 1;
  color: var(--text__color);
}

.product .product__content .product__content--title span {
  background: -webkit-gradient(linear, left top, right top, from(#F0FFEE), to(#FFFFFF));
  background: linear-gradient(to right, #F0FFEE, #FFFFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
}

.product .product__content .product__content--derc {
  -webkit-animation-name: righttoleft;
          animation-name: righttoleft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  margin-top: 4rem;
  font-size: 3.2rem;
  font-weight: 300;
  line-height: 1.3;
  color: var(--text__dark);
  width: 100%;
}

@keyframes lelftoright {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes righttoleft {
  0% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes bottomtotop {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes showin {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes rotateX {
  0% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotateY {
  0% {
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

.show--left {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.show--left.is--show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.location {
  position: absolute;
  z-index: 99;
  display: none;
}

.location .location__card {
  -webkit-animation-name: lelftoright;
          animation-name: lelftoright;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  position: relative;
  margin: 0 42rem 0;
  text-align: center;
  border-radius: 1rem;
}

.location .location__card .location__card--logo {
  -webkit-animation-name: lelftoright;
          animation-name: lelftoright;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  margin-top: 8rem;
}

.location .location__card .location__card--logo img {
  width: 6rem;
}

.location .location__card .location__card--title {
  -webkit-animation-name: lelftoright;
          animation-name: lelftoright;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  margin-top: 2.4rem;
  font-size: 5rem;
  line-height: 1;
  color: var(--text__color);
}

.location .location__card .location__card--derc {
  -webkit-animation-name: lelftoright;
          animation-name: lelftoright;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  font-size: 2rem;
  font-weight: 500;
  color: var(--text__dark);
  margin: 1.6rem 10rem 0;
  line-height: 1;
}

.location .location__card .location__card--derc span {
  display: block;
  margin-top: 3rem;
}

.location .location__card .location__card--btn {
  -webkit-animation-name: lelftoright;
          animation-name: lelftoright;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  margin: 4rem auto 11.4rem;
}

.location .location__card .location__card--btn a {
  padding: 1.7rem 5rem;
}

.location .bg__card {
  -webkit-animation-name: lelftoright;
          animation-name: lelftoright;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  position: absolute;
  margin: 0 42rem 0;
  width: 60rem;
  height: 54.1rem;
  background: #213f36;
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
  -webkit-filter: blur(2px);
          filter: blur(2px);
  border-radius: 1rem;
}

.location .location__icon {
  -webkit-animation-name: showin;
          animation-name: showin;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  top: 0;
  left: 42rem;
  position: absolute;
  width: 60rem;
  height: 54.1rem;
}

.location .location__icon img:nth-child(1) {
  position: absolute;
  bottom: -7rem;
  left: 45%;
}

.location .location__icon img:nth-child(2) {
  position: absolute;
  top: 50%;
  left: -7rem;
}

.location .location__icon img:nth-child(3) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  position: absolute;
  top: -5rem;
  left: 20%;
}

.location .location__icon img:nth-child(4) {
  position: absolute;
  top: -2rem;
  left: 70%;
}

.location .location__icon img:nth-child(5) {
  position: absolute;
  bottom: 0;
  right: -12rem;
}

.location .location__icon img:nth-child(6) {
  position: absolute;
  bottom: 0;
  left: -12rem;
}

.location .location__icon img:nth-child(7) {
  position: absolute;
  top: 10rem;
  right: -15rem;
}

.location .location__icon img:nth-child(8) {
  position: absolute;
  top: -2rem;
  left: -12rem;
}

.main {
  width: 144rem;
  position: relative;
  height: 90rem;
  padding-top: 10rem;
  display: none;
}

.main .main_bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
  -webkit-animation-name: showin;
          animation-name: showin;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.main .main_bottom img {
  position: absolute;
  bottom: 0;
}

.content {
  height: 80rem;
}

.content .content__btn {
  margin: 4rem auto 0;
}

.content .content__title {
  margin-top: 2.4rem;
  font-size: 1.8rem;
  color: #8bbc83;
  text-align: center;
}

.content .content__desc {
  color: var(--text__light);
  margin-top: 4rem;
  text-align: center;
  font-weight: 400;
  font-size: 1.6rem;
}

.content .content__desc span {
  display: block;
}

.content .content__bar {
  margin-top: 10rem;
}

.content .content__bar .content__bar--title {
  line-height: 1;
  font-size: 4rem;
  color: var(--text__primary);
  text-align: center;
}

.content .content__bar .content__bar--list {
  width: 100%;
  margin: 4rem 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .content__bar .content__bar--list .content__bar--item {
  background-image: url(asset/Background02.png);
  background-size: cover;
  margin: 2rem;
  width: 25%;
  position: relative;
  height: 22.5rem;
  border-radius: 13%;
}

.content .content__bar .content__bar--list .content__bar--item .content__item--title {
  font-size: 2rem;
  position: absolute;
  top: 0;
  color: var(--text__dark);
  padding: 2.4rem 0 0 2.4rem;
}

.content .content__bar .content__bar--list .content__bar--item .content__item__count {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0 2.4rem 2.4rem;
}

.content .content__bar .content__bar--list .content__bar--item .content__item__count div {
  color: var(--text__dark);
  font-size: 1.5rem;
  font-weight: bold;
}

.content .content__bar .content__bar--list .content__bar--item .content__item__count img {
  height: 3rem;
  width: 3rem;
}

.content .content__bar .content__bar--list .content__bar--item:hover {
  border-radius: 13%;
  -webkit-box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

/* Mixin */
/* Set các giá trị với màn hình tương ứng */
/* > PC low resolution */
@media (max-width: 1366px) {
  .app {
    width: 120rem;
  }
  .home {
    width: 120rem;
  }
  .main {
    width: 120rem;
  }
  .main .main_bottom img {
    width: 120rem;
  }
  .home {
    width: 120rem;
  }
}

@media (max-width: 739px) {
  .app {
    margin: 0 auto;
    width: 100%;
  }
  .nav {
    position: absolute;
    z-index: 99;
    width: 100%;
    padding-top: 1rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav .nav__logo {
    display: none;
  }
  .nav .nav__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
  }
  .nav .nav__item.nav__item--cart {
    display: none;
  }
  .nav .nav__menu--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main {
    width: 100%;
  }
  .main .main_bottom img {
    width: 100%;
  }
  .main .service__card {
    margin: 0 2rem 0;
    width: 90%;
  }
  .main .service__card .service__content .service__content--title {
    font-size: 2.5rem;
  }
  .main .service__card .service__content .service__content--derc {
    width: 80%;
  }
  .main .shop {
    width: 370px;
    margin: 5rem auto 0;
  }
  .main .shop .shop__left {
    padding: 0 2rem;
    margin: 0 auto 0;
    width: 100%;
  }
  .main .shop .shop__left .shop__title {
    font-size: 2.5rem;
  }
  .main .shop .shop__left .shop__derc {
    width: 100%;
  }
  .main .shop .shop__right {
    display: none;
  }
  .main .product {
    width: 37rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    position: relative;
  }
  .main .product div {
    width: 100%;
  }
  .main .product div .product__list {
    width: 90%;
  }
  .main .product .product__content {
    width: 100%;
    position: absolute;
    bottom: 0;
    top: 0;
    margin: 0;
  }
  .main .product .product__content .product__content--title {
    font-size: 2.5rem;
  }
  .main .product .product__content .product__content--derc {
    font-size: 1.8rem;
  }
  .home {
    width: 370px;
    margin: 0 auto 7rem;
    padding: 0;
  }
  .home .home__title {
    margin: 9rem auto 0;
  }
  .home .home__des {
    margin: 4rem 0 0;
    width: 100%;
  }
  .home .home__btn {
    margin: 4rem auto 0;
    width: 50%;
  }
  .home .home__bar {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 45%;
    margin: 5.8rem auto 5rem;
  }
  .home .home__bar .homne__bar--item {
    margin-top: 2rem;
  }
  .content {
    margin-top: 4rem;
  }
  .content .content__btn {
    margin-top: 4rem;
  }
  .content .content__bar .content__bar--list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .content .content__bar .content__bar--list .content__bar--item {
    width: 100%;
  }
}

.app {
  position: relative;
}

.app::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(asset/Background01.png);
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: -1;
}
/*# sourceMappingURL=style.css.map */